@font-face {
    font-family: 'RalewayBold';
    src: url('raleway-bold.eot');
    src: url('raleway-bold.eot') format('embedded-opentype'),
         url('raleway-bold.woff2') format('woff2'),
         url('raleway-bold.woff') format('woff'),
         url('raleway-bold.ttf') format('truetype'),
         url('raleway-bold.svg#RalewayBold') format('svg');
}
